body {
  max-width: 75rem;
  margin: auto;
}

header {
    h1.companySlogan {
    display: block;
    }
    figure.logo {
    width: 10%;
    }
  }

  nav {
    li {
      width: 10%;
    }
  }

  figure.picture {
    float: right;
    width: 33%;
  }