header {
    h1.companySlogan {
    display: block;
    }
    figure.logo {
    width: 18.5%;
    }
  }

  nav {
    li {
      width: 25%;
    }
  }

  figure.picture {
    float: right;
    width: 50%;
  }